[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
wand = "*"
pypdf = "*"
pdf2image = "*"
img2pdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
